.app{
    background-image: url('../../assets/images/app--background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__text-content{
      padding-top: 50px;
    }

    &__phone{
      display: block;
      margin: 90px auto;
    }


}
