.generic-content{
  line-height: 1.80;
  margin: 0 0 1.8rem 0;

  &--camera{
    color: #fff;
  }

  &--remote{
    /* margin-left: 140px;
    width: 80%; */
  }

  &--app{
    /* margin-left: 140px;
    width: 80%; */
  }

  &--price{
    text-align: center;
    margin-top: -18px;
    font-size: 14px;
  }

  &--package{
    text-align: center;
  }
}
