.heading{
  text-transform: uppercase;
  font-weight: 600;

  &--introduction-small-heading{
    margin-bottom: 0;
  }

  &--introduction-large-heading{
    margin-top: 10px;
  }

  &--design{
    text-align: center;
  }

  &--camera{
    color: #fff;
  }

  &--remote{
    text-align: center;
  }
}
